<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>sample.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>sample.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>sample.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>sample.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reOrderServlet</servlet-name>
        <servlet-class>sample.servlet.reOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>sample.servlet.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>sample.servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlet</servlet-name>
        <servlet-class>sample.servlet.updateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>sample.servlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlantServlet</servlet-name>
        <servlet-class>sample.servlet.getPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>sample.servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountsServlet</servlet-name>
        <servlet-class>sample.servlet.manageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>sample.servlet.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>sample.servlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrdersServlet</servlet-name>
        <servlet-class>sample.servlet.manageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderServlet</servlet-name>
        <servlet-class>sample.servlet.searchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPlantServlet</servlet-name>
        <servlet-class>sample.servlet.searchPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>sample.servlet.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePlantsServlet</servlet-name>
        <servlet-class>sample.servlet.managePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCateServlet</servlet-name>
        <servlet-class>sample.servlet.loadCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPlantServlet</servlet-name>
        <servlet-class>sample.servlet.addPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePlantServlet</servlet-name>
        <servlet-class>sample.servlet.deletePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPlantInfoServlet</servlet-name>
        <servlet-class>sample.servlet.loadPlantInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantServlet</servlet-name>
        <servlet-class>sample.servlet.updatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCateServlet</servlet-name>
        <servlet-class>sample.servlet.manageCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCateServlet</servlet-name>
        <servlet-class>sample.servlet.searchCateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reOrderServlet</servlet-name>
        <url-pattern>/reOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlet</servlet-name>
        <url-pattern>/updateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlantServlet</servlet-name>
        <url-pattern>/getPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountsServlet</servlet-name>
        <url-pattern>/manageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrdersServlet</servlet-name>
        <url-pattern>/manageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderServlet</servlet-name>
        <url-pattern>/searchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPlantServlet</servlet-name>
        <url-pattern>/searchPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePlantsServlet</servlet-name>
        <url-pattern>/managePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCateServlet</servlet-name>
        <url-pattern>/loadCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPlantServlet</servlet-name>
        <url-pattern>/addPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePlantServlet</servlet-name>
        <url-pattern>/deletePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPlantInfoServlet</servlet-name>
        <url-pattern>/loadPlantInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantServlet</servlet-name>
        <url-pattern>/updatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCateServlet</servlet-name>
        <url-pattern>/manageCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCateServlet</servlet-name>
        <url-pattern>/searchCateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
